<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Site | <%= title %>
    </title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <%- include('./partials/header.ejs') %>

        <div class="body-content">
            <img class="delete" data-id="<%= blog.id %>" src="/delete_black_24dp.svg" alt="delete">
            <H3 class="title">
                <%= blog.title %>
            </H3>
            <div class="body">
                <%= blog.body %>
            </div>
        </div>

        <%- include('./partials/footer.ejs') %>

</body>

<script>
    const trashcam = document.querySelector('.delete');
    trashcam.addEventListener('click', () => {
        console.log('kuni click');
        fetch(`/blogs/${trashcam.dataset.id}`, { method: 'DELETE' })
            .then(result => result.json())
            .then(data => document.location.pathname = data.redirect)
            .catch(err => console.log(err))
    });
</script>

</html>